.cover{
    align-items: center;
}
.showMenu{
    display: block;
    width: 10%;
    text-align: center;
}
.showMenu:hover a{
    text-shadow: 3px 3px #7C3618;
}
.showMenu a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 5vw;
    margin: auto;
}
div.cover > nav{
    position: absolute;
    display:none;
    top: 90%;
    right: 10px;
    width: 25%;
    margin-top: 15px;
    display: none;
}
div.cover > nav::after{
    content: "";
    position: absolute;
    border-width: 15px 10px;
    border-style: solid;
    border-color: transparent transparent #fff9f5 transparent;
    bottom: 100%;
    left: 80%;
}
div.cover > nav::before{
    content: "";
    position: absolute;
    border-width: 15px 10px;
    border-style: solid;
    border-color: transparent transparent #7C3618 transparent;
    bottom: 98%;
    z-index: -1;
    left: 82%;
}
div.cover > nav > ul.menu{
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px #7C3618;
}
div.cover > nav > ul.menu li{
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #7C3618;
}
div.cover > nav > ul.menu li:last-child{
    border-bottom: 0px;
}
div.cover > nav > ul.menu > li > a{
    padding: 5px;
    color: #7C3618;
} 
div.cover > nav > ul.menu > li > a:hover{
    background-color: #937C69;
    text-shadow: 2px 2px #7C3618;
    color: #ffffff;
}
div.searchbox{
    width: 70%;
    margin: auto 2.5%;
}
div.cover > a{
    width: 10%;
}
div.empty{
    width: 100%;
    z-index: -1;
    opacity: 0;
}
div.empty img{
    width: 10%;
}
.bg{
    width: 90%;
}
footer > div{
    flex-direction: column;
}

div#contactframe{
    border-right: none;
    border-bottom: 2px solid #FFFFFF;
    width: 100%;
    padding: 3%;
}
div#followus{
    width: 100%;
    padding: 3%;
}
.info{
    display:block;
    width: 100%;
    left:0%;
    height: 100%;
    top: 0%;
    overflow:scroll;
    padding: 5%;
    border-radius: 0;
}
.selectedItems{
    max-height: 90%;
}
.selectedItem img{
    width: 20%;
}
.selectedItem{
    flex-wrap: wrap;   
}
.selectedItem h3{
    width: 50%;
    font-size: 35px;
}
.selectedItem h4{
    width: 30%;
    font-size: 30px;
}
.sl{
    width: 20%;
}
.sl a{
    font-size: 30px;
}
.selectedItem span{
    font-size: 30px;
    padding: 0px;
}
.selectedItem h5{
    width: 50%;
    font-size: 35px;
    font-weight: bolder;
}
.selectedItem > a{
    width: 30%;
    font-size: 35px;
}
.infoCart h2{
    display: none;
}
.selectedItem:first-child{
    border-top: none;
}
.exit{
    font-size: 50px;
}
.left{
    border-bottom: 2px solid #937C69;
    padding-right: 0%;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding: 5%;
}
.mainimage{
    width: 50%;
}
div.thumb{
    width: 50%;
    margin: 0 auto;
}
div.thumb > div{
    padding: 1%;
}
.right{
    padding: 5%;
    border-left: 0px;
    width: 100%;
}
.info h1{
    font-size: 5vw;
    margin-top: 0%;
}
.info h3{
    font-size: 4vw;
}
.info p{
    font-size: 3vw;
}
.textOverFlow{
    height: fit-content;
}
.cart{
    font-size: 3vw;
}
.buy{
    font-size: 3vw;
}
a#go-to-top img{
    display:none;
}
.sort{
    position: absolute;
    top: 72px;
    left: 50%;
    width: 50%;
    z-index: 10;
    display: none;
    padding: 20px 50px;
    font-size: 20px;
}
.sort > h3{  
    display: none;
}

#rightSide > div{
    display: flex;
    align-items: center;
    text-align: center;
}
.side > div > i{
    display: block;
    width: 100%;
}
.rightTitle{
    border-radius: 0px 10px 10px 0px !important;
    border-left: 2px solid #FFFFFF;
    margin-left: 0%;
}
.bg{
    position: relative;
    width : 90%;
}
.items{
    width: 100%;
}
.infoCart{
    display:block;
    width: 100%;
    left:0%;
    height: 100%;
    top: 0%;
    padding: 5px;
    border-radius: 0;
}
.infoCart h1{
    font-size: 50px;
    margin-top: 10px;
}
.infoBill > form{
    width: 90%;
}
.infoBill{
    width: 100%;
    height: 100%;
    border-radius: 0;
    top:0;
    left:0;
}
.selectedItems{
    max-height: 80%;
}
.addAlert, .submitAlert{
    left: 0;
    width: 100%;
    margin: 0;
}
.submitAlert > h2{
    font-size: 20px;
}