*{
    box-sizing: border-box;
}
.showMenu{
    display: block;
    width: 10%;
}
.showMenu a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 5vw;
    align-items: center;
}
.hiddenMenu{
    display:none;
}
.cover{
    display:flex;
    align-items: center;
}
.cover img{
    width: 40%;
}
.logo{
    text-align: center;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
ul.menu{
    flex-direction: column;
}
ul.menu li{
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #FFFFFF;
}
ul.menu li:last-child{
    border-bottom: none;
}
#demo{
    width: 90%;
}
#demo img{
    width: 100%;
}
.page{
    width: 90%;
}
footer > div{
    flex-direction: column;
}
div#contactframe{
    border-right: none;
    border-bottom: 2px solid #FFFFFF;
    width: 100%;
    padding: 3%;
}
div#followus{
    width: 100%;
    padding: 3%;
}
.info{
    width: 100%;
    left:0%;
    height: 100%;
    top: 0%;
    overflow:scroll;
    padding: 5%;
}
.exit{
    font-size: 50px;
}
.left{
    border-bottom: 2px solid #937C69;
    padding-right: 0%;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding: 5%;
}
.mainimage{
    width: 50%;
}
div.thumb{
    width: 50%;
    margin: 0 auto;
}
div.thumb > div{
    padding: 1%;
}
.right{
    padding: 5%;
    border-left: 0px;
    width: 100%;
}
.info{
    border-radius: 0;
}
.info h1{
    font-size: 5vw;
    margin-top: 0%;
}
.info h3{
    font-size: 4vw;
}
.info p{
    font-size: 3vw;
}
.textOverFlow{
    height: fit-content;
}
.cart{
    font-size: 3vw;
}
.buy{
    font-size: 3vw;
}
div.document{
    height: 18vw;
}
div.item{
    width: 45%;
    margin-top: 20px;
}
.itemHidden{
    display: block;
}
a#go-to-top img{
    display:none;
}
.YMK-info{
    width: 100%;
    left:0%;
    height: 100%;
    top: 0%;
    overflow:scroll;
    padding: 5%;
    border-radius: unset;
}
.YMK-info > h1{
    font-size: 35px;
}
.YMK-detail{
    flex-direction: column;
}
.exampleImg{
    width: 100%;
    border-bottom: 2px solid #937C69;
}
.exampleImg > div{
    width: 100%;
    text-align: center;
}
.exampleImg img{
    width: 50%;
}
.information{
    margin-top: 5%;
    width: 100%;
    border-left: none;
    margin-left: 0;
    padding: 0;
}
.informationText{
    width: 100%;
}
