footer div h2{
    font-size:25px;
}
div#contactframe h3{
    font-size: 15px;
}
/* Cái này chỉnh width của chữ sản phẩm với chữ các nhãn hàng nè */ 
.bg > div > h1 {
    width: 60%;
}
.sort{
    width: 70%;
    left: 30%;
}
div.cover > nav{
    width: 35%;
    right: 10px;
}
div.cover > a{
    width: 15%;
}
div.empty img{
    width: 15%;
}
div.searchbox{
    padding: 1%;
    width: 68%;
    margin: auto 0% auto 2%;
}
.showMenu{
    width: 15%;
}
.showMenu a{
    font-size: 50px;
}
.confirm{
    width: 90%;
    left: 5%;
}
.infoBill > form{
    width: 100%;
}
.userInfo{
    font-size: 20px;
}
.infoBill h1{
    font-size: 25px;
}
.selectShip > div{
    font-size: 20px;
}
a#go-to-top{
    width: 12%;
}