.bg{
    width: 100%;
}
footer div h2{
    font-size:25px;
}
div#contactframe h3{
    font-size: 15px;
}
a#go-to-top{
    width: 12%;
}
.photos > .photo{
    width: 45%;
}
.video{
    padding: 5px;
    width: 90%;
    margin-left: 5%;
}
.showMenu{
    width: 15%;
}
.showMenu a{
    font-size: 50px;
}
div.cover > nav{
    width: 35%;
    right: 10px;
}
div.cover > a{
    width: 15%;
}
div.empty img{
    width: 15%;
}
