.line{
    width: 300px;
    height: 40px;
}
.main > img{
    width: 350px;
}
.main > p{
    font-size: 30px;
}
div.cover > nav{
    width: 50%;
}
div.cover > a{
    width: 20%;
}
div.empty img{
    width: 20%;
}
.showMenu a{
    font-size: 40px;
}
.list{
    width: 60%;
    margin: auto;
}
.imglist h1, .vidlist h1{
    font-size: 20px;
}
.avt{
    width: 20px;
}
.comments{
    width: 100%;
}
.frame-commentShow-clicked{
    width: 100% !important;
}
