/* Cái này chỉnh width của chữ sản phẩm với chữ các nhãn hàng nè */ 
.bg > div > h1 {
    width: 100%;
    font-size: 30px;
}
.leftTitle{
    width: 85% !important;
}
.rightTitle{
    width: 85% !important;
}
.side > div{
    width: 15%;
}
.sort{
    width: 100%;
    top: 67px;
    left: 0%;
}
.brands a{
    width:50%;
}
.hiddenBrand img{
    display:none;
}
#leftSide > div{
    display: flex;
    align-items: center;
    text-align: center;
}
.leftTitle{
    border-radius: 10px 0px 0px 10px !important;
    border-right: 2px solid #FFFFFF;
    margin-right: 0%;
}
div.item{
    width: 46%;
}
div.cover > nav{
    width: 45%;
}
div.cover > a{
    width: 20%;
}
div.empty img{
    width: 20%;
}
div.searchbox{
    padding: 1%;
    width: 63%;
    margin: auto 0% auto 2%;
}
.showMenu a{
    font-size: 40px;
}
.infoCart h1{
    font-size: 30px;
}
.selectedItem{
    padding: 10px 5px;
}
.selectedItem h3{
    font-size:15px;
    padding:0 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.total{
    flex-wrap: wrap;
}
.order{
    width: 100%;
}
.exit{
    font-size: 30px;
}
.selectedItem h4{
    font-size:15px;
}
.selectedItem h5{
    font-size:15px;
}
.selectedItem span{
    font-size: 15px;
}
.selectedItem a{
    font-size: 15px;
}
.sl{
    padding: 0;
}
.sl a{
    font-size: 15px;
    padding: 0;
}
.userInfo{
    width: 30%;
    font-size: 15px;
}
.infoBill input{
    width: 100%;
    font-size: 15px;
}
.infoBill h1{
    font-size: 20px;
}
.selectShip > div{
    font-size: 15px;
    padding: 3px;
}
.selectShip > div > input{
    width: 100% !important;
}