div.youmayknow{
    width: 80%;
}
.cover img{
    width: 80%;
}
div.item{
    width: 80%;
}
.showMenu a{
    font-size: 8vw;
}
.showMenu{
    margin-right: 3%;
}
.title > div.imgframe{
    justify-content: center;
}
.title > div.imgframe img{
    width: 80%;
    margin-bottom: 5%
}
