*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
@font-face{
    font-family: Hehe;
    src: url(../fonts/fontHehe.otf);
}
@font-face{
    font-family: Huhu;
    src: url(../fonts/fontHuhu.otf);
}
body{
    background-image:url(../images/background.png);
    font-family: Hehe !important;
    cursor: url(../cursors/cursor1.cur),pointer;
}
a, #searchBtn{
    cursor:url(../cursors/cursor2.cur),auto;
}
div.cover{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #937C69;
    display:flex;
    flex-wrap: wrap;
    z-index: 50;
}
div.cover > a > img{
    width: 100%;
}
div.cover > a{
    width: 7%;
}

div.cover > nav{
    width: 50%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
div.cover > nav > ul.menu{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    margin: 0px;
}
div.cover > nav ul.menu li{
    width: 33%;
    text-align: center;
    border-right: 2px solid #ffffff;
}
div.cover > nav ul.menu li:last-child{
    border-right: none;
}
div.cover > nav > ul.menu > li > a{
    align-items: center;
    font-family: huhu;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
}
div.cover > nav > ul.menu > li > a:hover{
    text-shadow: 2px 2px #7C3618;
}
div.lists{
    width: 30%;
    margin: auto;
    border-radius: 17px;
    border: 2px solid #e2c8be;
    background-color: #FFFFFF;
    display: flex;
}
.imglist, .videolist{
    text-align: center;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
.imglist{
    border-radius: 15px 0px 0px 15px;
    border-right: 1.5px solid #e2c8be;
}
.videolist{
    border-radius: 0px 15px 15px 0px;
    border-left: 1.5px solid #e2c8be;
}
.imglist > a, .videolist > a{
    font-size: 25px;
    font-family: Huhu;
    font-weight: bolder;
    display: block;
    height: 100%;
    width: 100%;
    color: #937C69;
}
.imglist > a:hover, .videolist > a:hover{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #8a6f59;
}
div.empty{
    width: 100%;
    z-index: -1;
    opacity: 0;
}
div.empty img{
    width: 7%;
}
a#go-to-top{
    display:block;
    text-align: center;
    width: 5%;
    position: fixed;
    bottom:5%;
    right: 2.5%;
    text-decoration: none;
    padding:2px;
}
a#go-to-top img{
    width: 100%;
}

footer > div{
    margin-top:2%;
    background-color: #937C69;
    width: 100%;
    display: flex;
    padding: 2%;
}
footer > div h2{
    color:#FFFFFF;
    font-size:30px;
    text-shadow: 3px 3px #7C3618;
}

div#contactframe{
    width: 50%;
    border-right: 2px solid #FFFFFF;
}
div#contactframe h2{
    text-align: center;
    margin-bottom: 5%;
}
div#contactframe h3{
    color: #000000;
    font-size: 25px;
    font-family:Huhu;
    padding: 1%;
}
div#contactframe a{
    text-decoration: none;
    color: #000000;
}
div#contactframe a:hover{
    color:#FFFFFF;
}
div#followus{
    width:50%;
    text-align: center;
}

div.followicons{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
a.followicon{
    font-size: 35px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration:none;
    border-style: solid;
    border-color:#000000;
    border-width: 2px;
    border-radius:100%;
    color: #000000;
    margin: 2%;
}
a.followicon:hover{
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
}
.bg{
    width: 80%;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}
.photos, .videos{
    background-color: #ffffff;
    padding:10px;
    width: 100%;
    justify-content: space-between;
    display:flex;
    flex-wrap: wrap;
}
.video{
    width: 45%;
    background-color: #bdb1ac;
    padding: 10px;
}
iframe{
    width: 100%;
}
.photos > .photo{
    width: 28%;
    margin: 2%;
    overflow: hidden;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.info{
    z-index: 9999;
    position: fixed;
    width: 80%;
    height: 95%;
    top: 2.5%;
    left: 10%;
    display: none;
}
.main-info{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    border-radius: 20px;
    background-color: #e2d3be;
}
.exit{
    position: absolute;
    color: #8c563e;
    font-size: 30px;
    top: 0;
    right: 0;
    z-index:1000;
    padding: 5px 20px;
}
.prev a, .next a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: fit-content;
    top: 45%;
    border-radius: 10px;
    padding: 40px 20px;
    background-color: #8c563e;
    font-size: 40px;
    color: #e2d3be;
    opacity: 0.7;
}
.prev a{
    right: 100%;
}
.next a{
    left: 100%;
}
.prev a:hover, .next a:hover{
    text-decoration: none;
    color: #e2d3be;
    opacity: 1;
}
.frame{
    margin: auto;
    width: 80%;
    height: 80%;
}
.frame img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.interact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2.5%;
    height: 10%;
}
.interact a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #9e7260;
    color: #e2c8be;
    border-radius: 10px;
    margin: auto 5px;
}
.interact a:hover{
    text-decoration: none;
    transform: scale(1.1);
}
.commentShow:hover{
    background-color: #7dc0b4;
    color: #e7eef7;
}
.heart:hover{
    background-color: #ff8072;
    color: #ffd8cf;
}
.download:hover{
    background-color: #9bb86c;
    color: #f6ffe8;
}
#black-space{
    top : 0;
    left: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0.6;
    display: none;
}
.photo:hover{
    border: 5px solid #937C69;
    overflow: hidden;
    background-color: #937C69;
}
.photo img:hover{
    transform: scale(1.1);
}
.title {
    color: #FFFFFF;
    text-shadow: 3px 3px #7C3618;
    background-color: #937C69;
    width: 100%;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
