*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-wrap: wrap;
}
.cover{
    background-color: #937C69;
    width: 100%;
    text-align: center;
}
.cover img{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

ul.menu{
    list-style-type: none;
    display: flex;
    background-color: #7C3618;
    border-radius: 0px 0px 50px 50px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}
ul.menu > li{
    width: 15%;
    text-align: center;
}
ul.menu > li > a{
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
}
ul.menu > li:last-child{
    background-color: #FFFFFF;
    border-style: solid;
    border-spacing: 1px;
    border-color: #937C69;
    border-radius: 50px 50px 50px 50px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:2%;
    height: 80%;
    max-width: 100%;
    padding:0.2%;
}
ul.menu > li > input{
    width: 80%;
    border-style: none;
}
ul.menu > li > button{
    background-color: #7C3618;
    color:#FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
    border-radius: 100%;
    border-style: none;
}
ul.menu > li > button:focus{
    outline: none;
}
ul.menu > li > input:focus{
    outline: none;
}
.content
{
    text-align:center;
    width: 900px;
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2%;
}
.page{
    width:70%;
    background-color: #FFFFFF;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1%;
}
.title{
    margin-top: 2%;
}
.title:first-child{
    margin-top: 0%;
}
.title ul{
    list-style-type: none;
    display:flex;
    justify-content:flex-start;
}
.title ul > li {
    font-size :30px;
    color:#7C3618;
}
.title ul > li:last-child > a{
    font-size :30px;
    color: #979b9b;
    text-decoration: none;
}
.title ul > li:last-child{
    margin-left: auto;
}
div.item{
    width: 30%;
    background-color: rgba(147, 124, 105, 0.5);
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
div.item:hover{
    transform: scale(0.9);
}
div.item > a{
    text-decoration: none;
}
div.item h2{
    font-family: Huhu;
    font-size: 20px;
    color:#000000;

}
div.item h3{
    font-family: Huhu;
    font-size: 18px;
    color: #000000;
}
div.items{
    display:flex;
    flex-wrap: wrap;
    
}
div.item img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
div.youmayknow{
    background-color: rgba(147, 124, 105, 0.5);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-top:2%;   
}
div.document{
    width: 75%;
    padding-left: 10px;
}
div.document > h2{
    font-size: 20px;
    color: #000000;
}
div.document > p{
    font-family: Huhu;
    font-size: 15px;
    color: #000000;
    width: 90%;
    margin-left: 2%;
}
div.youmayknow img{
    width: 25%;
}

/*.notice{
    width:19%;
    background-color: #937C69;
    margin-right: 1%;
}*/
.title > div.imgframe{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.title > div.imgframe img{
    width: 30%;
}
#footer{
    margin-top:2%;
    background-color: #7C3618;
    width: 100%;
    display: flex;
    padding: 2%;
}
#footer h2{
    color:#FFFFFF;
    font-size:30px;
}

div#contactframe{
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    width: 30%;
}
div#contactframe > h3{
    color: #000000;
    font-size: 25px;
}
div#contactframe > h3 > a{
    text-decoration: none;
    color: #000000;
}
div.mapframe{
    width:35%;
}
div.mapframe h2{
    text-align: center;
}
#map{
    width: 200px;
    height: 200px;
}
