*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a#go-to-top{
    display:block;
    text-align: center;
    width: 5%;
    position: fixed;
    bottom:5%;
    right: 2.5%;
    text-decoration: none;
    padding:2px;
    opacity: 0;
}
a#go-to-top img{
    width: 100%;
}
.body{
    display: flex;
    flex-wrap: wrap;
}
.cover{
    background-color: #937C69;
    width: 100%;
    text-align: center;
}
.cover img{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

ul.menu{
    list-style-type: none;
    display: flex;
    background-color: #7C3618;
    border-radius: 0px 0px 50px 50px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}
ul.menu > li{
    width: 15%;
    text-align: center;
}
ul.menu > li > a{
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
}
ul.menu > li:last-child{
    background-color: #FFFFFF;
    border-style: solid;
    border-spacing: 1px;
    border-color: #937C69;
    border-radius: 50px 50px 50px 50px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:2%;
    height: 80%;
    max-width: 100%;
    padding:0.2%;
}
ul.menu > li > input{
    width: 80%;
    border-style: none;
}
ul.menu > li > button{
    background-color: #7C3618;
    color:#FFFFFF;
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 100%;
    border-style: none;
}
ul.menu > li > button:focus{
    outline: none;
}
ul.menu > li > input:focus{
    outline: none;
}
.content
{
    text-align:center;
    width: 900px;
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2%;
}
.page{
    width:70%;
    background-color: #FFFFFF;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1%;
}
.title{
    margin-top: 2%;
}
.title:first-child{
    margin-top: 0%;
}
.title ul{
    list-style-type: none;
    display:flex;
    justify-content:flex-start;
}
.title ul > li {
    font-size :30px;
    color:#7C3618;
}
.title ul > li:last-child > a{
    font-size :30px;
    color: #979b9b;
    text-decoration: none;
}
.title ul > li:last-child{
    margin-left: auto;
}
div.item{
    width: 30%;
    background-color: rgba(147, 124, 105, 0.5);
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
div.item:hover{
    transform: scale(0.9);
}
div.item > a{
    text-decoration: none;
}
div.item h2{
    font-family: Huhu;
    font-size: 20px;
    color:#000000;

}
div.item h3{
    font-family: Huhu;
    font-size: 18px;
    color: #000000;
}
div.items{
    display:flex;
    flex-wrap: wrap;
    
}
div.item img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
div.youmayknow{
    background-color: rgba(147, 124, 105, 0.5);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-top:2%;   
}
div.document{
    width: 75%;
    padding-left: 10px;
}
div.document > h2{
    font-size: 20px;
    color: #000000;
}
div.document > p{
    font-family: Huhu;
    font-size: 15px;
    color: #000000;
    width: 90%;
    margin-left: 2%;
}
div.youmayknow img{
    width: 25%;
}
.title > div.imgframe{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.title > div.imgframe img{
    width: 30%;
}
#footer{
    margin-top:2%;
    background-color: #937C69;
    width: 100%;
    display: flex;
    padding: 2%;
}
#footer h2{
    color:#FFFFFF;
    font-size:30px;
}

div#contactframe{
    width: 50%;
    border-right: 2px solid #FFFFFF;
}
div#contactframe h2{
    text-align: center;
    margin-bottom: 5%;
}
div#contactframe h3{
    color: #000000;
    font-size: 25px;
    font-family:Huhu;
    padding: 1%;
}
div#contactframe a{
    text-decoration: none;
    color: #000000;
}
div#contactframe a:hover{
    color:#FFFFFF;
}
div#followus{
    width:50%;
    text-align: center;
}

div.followicons{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
a.followicon{
    font-size: 35px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration:none;
    border-style: solid;
    border-color:#000000;
    border-width: 2px;
    border-radius:100%;
    color: #000000;
    margin: 2%;
}
a.followicon:hover{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
#text{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0;
}
.exit{
    position: absolute;
    color: #7C3618;
    font-size: 30px;
    top: 0;
    right: 0;
    z-index:1000;
    padding: 5px 20px;
}
.info{
    background-color: #FFFFFF;
    position:fixed;
    left: 25%;
    top: 10%;
    z-index:999;
    width: 50%;
    height: 80%;
    display:flex;
    flex-wrap:wrap;
    padding: 20px;
    border-style:solid;
    border-color: #937C69;
    border-width: 5px;
    border-radius: 20px;
    opacity: 0;
}
.info h1{
    margin-top: 10%;
    font-size: 25px;
    font-family: Huhu;
    color:#937C69;
    font-weight: bolder;
}
.info h3{
    font-family: Huhu;
    font-size: 20px;
}
.info p {
    font-family: Huhu;
    font-size: 15px;
}
.left{
    width: 50%;
    padding-right: 5%;

    margin-top: auto;
    margin-bottom: auto;
}

.right{
    width: 50%;
    border-left: 2px solid #937C69;
    padding-left: 3%;
    position: relative;
}
div.left img {
    width: 100%;
}
div.thumb{
    margin-top: 5%;
    display: flex;
}
div.thumb > div {
    width: 20%;
}
#firstthumb{
    border: 2px solid #937C69;
}
.hide{
    display:none;
    width: 50%;
}
.cart{
    position: absolute;
    background-color: #937C69;
    color:#FFFFFF;
    font-family: Huhu;
    width: 45%;
    text-align: center;
    padding: 5%;
    bottom: 5%;
}
.buy{
    position: absolute;
    background-color: #937C69;
    color:#FFFFFF;
    font-family: Huhu;
    width: 45%;
    text-align: center;
    bottom: 5%;
    padding: 5%;
    right: 0%;
}
.buy a{
    display: block;
}