*{
    margin:0;
    padding:0;
}
@font-face{
    font-family: Hehe;
    src: url(../fonts/fontHehe.otf);
}
@font-face{
    font-family: Huhu;
    src: url(../fonts/fontHuhu.otf);
}
body{
    background-image:url(../images/background.png);
    font-family: Hehe !important;
    cursor: url(../cursors/cursor1.cur),pointer;
}
a, #searchBtn{
    cursor:url(../cursors/cursor2.cur),auto;
}
div.cover{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #937C69;
    display:flex;
    flex-wrap: wrap;
    z-index: 50;
}
div.cover > a > img{
    width: 100%;
}
div.cover a{
    width: 7%;
}

div.cover > nav{
    width: 50%;
    margin-left: auto;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
div.cover > nav > ul.menu{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    margin: 0px;
}
div.cover > nav ul.menu li{
    width: 33%;
    text-align: center;
    border-right: 2px solid #ffffff;
}
div.cover > nav ul.menu li:last-child{
    border-right: none;
}
div.cover > nav > ul.menu > li > a{
    align-items: center;
    font-family: huhu;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
}
div.cover > nav > ul.menu > li > a:hover{
    text-shadow: 2px 2px #7C3618;
}
div.searchbox{
    width: 30%;
    height: fit-content;
    padding:0.5%;
    background-color: #ffffff;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
div.searchbox > input{
    width: 88%;
    border-style: none;
    margin-left:2%;
    font-family: Huhu;
    align-items: center;
}
div.searchbox > button{
    background-color: #7C3618;
    color:#FFFFFF;
    font-size:15px;
    width:30px;
    height: 30px;
    outline: none;
    border-radius: 100%;
    border-style: none;
}
div.searchbox > button:focus{
    outline: none;
}
div.searchbox > input:focus{
    outline: none;
}
div.empty{
    width: 100%;
    z-index: -1;
    opacity: 0;
}
div.empty img{
    width: 7%;
}
a#go-to-top{
    display:block;
    text-align: center;
    width: 5%;
    position: fixed;
    bottom:5%;
    right: 2.5%;
    text-decoration: none;
    padding:2px;
}
a#go-to-top img{
    width: 100%;;
}

footer > div{
    margin-top:2%;
    background-color: #937C69;
    width: 100%;
    display: flex;
    padding: 2%;
}
footer > div h2{
    color:#FFFFFF;
    font-size:30px;
    text-shadow: 3px 3px #7C3618;
}

div#contactframe{
    width: 50%;
    border-right: 2px solid #FFFFFF;
}
div#contactframe h2{
    text-align: center;
    margin-bottom: 5%;
}
div#contactframe h3{
    color: #000000;
    font-size: 25px;
    font-family:Huhu;
    padding: 1%;
}
div#contactframe a{
    text-decoration: none;
    color: #000000;
}
div#contactframe a:hover{
    color:#FFFFFF;
}
div#followus{
    width:50%;
    text-align: center;
}

div.followicons{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
a.followicon{
    font-size: 35px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration:none;
    border-style: solid;
    border-color:#000000;
    border-width: 2px;
    border-radius:100%;
    color: #000000;
    margin: 2%;
}
a.followicon:hover{
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
}
.bg{
    width: 80%;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}
.exit{
    position: absolute;
    color: #7C3618;
    font-size: 30px;
    top: 0;
    right: 0;
    z-index:1000;
    padding: 5px 20px;
}
#black-space{
    top : 0;
    left: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0;
}
.YMKs{
    background-color: #FFFFFF;
    padding: 10px;
}
div.youmayknow a{
    background-color: rgba(147, 124, 105, 0.5);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    margin-top:2%;
    text-decoration: none;
}
.youmayknow a:hover{
    background: linear-gradient(#d8bda6,#a3876e);
}
.youmayknow a:hover h2 {
    color: #FFFFFF;
    text-shadow: 2px 2px #7C3618;
}
div.document{
    width: 75%;
    padding-left: 10px;
}
div.document > h2{
    font-size: 20px;
    color: #000000;
}
div.document > p{
    font-family: Huhu;
    font-size: 18px;
    color: #000000;
    width: 90%;
    margin-left: 2%;
}
div.youmayknow img{
    width: 25%;
}
.hiddenInformation{
    display: none;
}
.hiddenTitle{
    display: none;
}
.YMK-info{
    font-family: Huhu;
    background-color: #FFFFFF;
    position:fixed;
    left: 10%;
    top: 5%;
    z-index:999;
    width: 80%;
    height: 90%;
    padding: 20px;
    border-style:solid;
    border-color: #937C69;
    border-width: 5px;
    border-radius: 20px;
    opacity: 0;
} 
.YMK-info h1{
    color: #75614f;
    font-size: 30px;
    font-weight: bolder;
}
.YMK-detail{
    display: flex;
    height: 90%;
}
.exampleImg p{  
    font-family: Huhu;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
}
.exampleImg{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.exampleImg img{
    width: 100%;
    border-radius: 10px;
}
.information{
    position: relative;
    width: 70%;
    height: 100%;
    margin-left: 5%;
    border-left: 3px solid #937C69 ;
    padding: 2% 3%;
}
.information > p{
    margin-top: 10px;
    margin-bottom: 5px;
    color:#75614f;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
.informationText{
    padding: 0% 2%;
    font-size: 18px;
    width: 100%;
    height: 80%;
    overflow: auto;
}
.informationText::-webkit-scrollbar {
    width: 7px;
}
.informationText::-webkit-scrollbar-track {
    background-color: #e0d7d0;
    border-radius: 10px;
}
.informationText::-webkit-scrollbar-thumb {
    background:#937C69; 
    border-radius: 10px;
}
.informationText::-webkit-scrollbar-thumb:hover {
    background: #75614f; 
}
.dislike{
    font-size: 20px;
    width: 45%;
    background: linear-gradient(#f7a18b,#e26959);
}
.like{
    font-size: 20px;
    width: 45%;
    background: linear-gradient(#93d39f,#63a878);
}
.btns{
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}
.btns a{
    padding : 10px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.btns a > i{
    padding-left: 3px;
}
.like > a:hover{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    background: linear-gradient(#65c474,#30b463);
}
.dislike > a:hover{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    background: linear-gradient(#e26f5b,#c74239);
}
.hiddenInformation{
    display: none;
}
.hiddenTitle{
    display: none;
}
.rateLike{
    width: 70%;
    background: linear-gradient(#65c474,#30b463);
}
.rateDislike{
    width: 70%;
    background: linear-gradient(#e26f5b,#c74239);
}
.website{
    display: none;
}
.comment{
    position: relative;
    left: 10%;
    width: 80%;
}
.comment a{
    text-align: center;
    display: block;
    padding: 10px 5px;
    background: linear-gradient(#d8bda6,#a3876e);
    color: #FFFFFF;
    font-family: Huhu; 
    font-size: 20px;
}
.comment a:hover{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    background:linear-gradient(#976f4b , #945134);
}